{{input type="number" value=columns}}

<div>
  {{#simple-grid columns=columns as | grid |}}
    {{log grid.columnWidth}}
    {{#each items as | item |}}
      {{#grid.item}}
        Hello {{item.index}}
        {{!-- <img src="{{item.image}}" alt=""> --}}
      {{/grid.item}}
    {{/each}}
  {{/simple-grid}}
</div>

{{yield}}
